<div class="card">
    <h5 class="card-header position-relative">
        {{ job.name }}
        <p class="position-absolute top-50 end-0 translate-middle-y w-50 pe-2 text-end text-truncate fs-6">
            {{ getInfoAlert() | translate: getParametersTranslation() }}
            <i-bs [style.color]="getHex()" [name]="getIconState()" class="ps-2"></i-bs>
        </p>
    </h5>
    <div class="card-body">
        <p><b>Description:</b> {{ job.description }}</p>
        <ng-container *ngIf="job.group">
            <p><b>Group:</b> {{ job.group.name }}</p>
        </ng-container>
        <div class="progress upper-margin" *ngIf="!job.finished">
            <progressbar class="progress-striped active" [value]="hasUpdates() && getPercent() ? getPercent() : 100"
                [type]="progressBarType()">
                <i>{{ hasUpdates() && getPercent() ? getPercent() + '%' : 'generic.indeterminate' | translate }}</i>
            </progressbar>
        </div>

        <div class="row upper-margin">
            <div class="col col-sm-2">
                <button type="button" class="btn btn-primary w-100 mw-100 text-truncate"
                    (click)="job.collapseDetail=!job.collapseDetail" [attr.aria-expanded]="!job.collapseDetail"
                    aria-controls="collapseBasic" [disabled]="!hasUpdates()">{{ 'jobs.show-log' | translate }}
                </button>
            </div>
            <div class="col position-relative">
                <p *ngIf="!hasUpdates()" class="position-absolute top-50 start-0 translate-middle-y w-100">No one log
                    sent!
                </p>
            </div>
        </div>
        <div id="collapseBasic" [collapse]="job.collapseDetail" [isAnimated]="true" *ngIf="hasUpdates()">
            <div class="well well-lg card card-block card-header upper-margin">
                <p *ngFor="let update of getUpdates(10)" class="text-break"><strong>{{ update.date | convertDate: 'short'
                        }}{{ update.percent ? ' - (' + update.percent + '%)' : '' }}:</strong> {{ update.log }}</p>
                <p *ngIf="getUpdates().length > 10">... {{ 'generic.and-others' | translate }} {{ getUpdates().length - 10 }}</p>
            </div>
        </div>
    </div>
</div>
